[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=FD2PanelUpdate
Comment=blah
Exec=/home/farmdev/.fd2/panel.bash
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
