/* Adding this class will hide Vue.js content until rendered. */
[v-cloak] {
 display:none;
}

.sticky-header th {
  background: #d9230f;
  color: white;
  position: sticky;
  top: -1px;
  z-index:1;
}

.sticky-table {
  max-height: 70vh;
  overflow-y: auto;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #d62a17;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
.table-button {
    padding: 5px 14px !important;
}

.table-text {
    font-size: 15px;
}