/* Adding this class will hide Vue.js content until rendered. */
[v-cloak] {
 display:none;
}

.sticky-header th {
  background: #d9230f;
  color: white;
  position: sticky;
  top: -1px;
  z-index:1;
}

.sticky-table {
  max-height: 70vh;
  overflow-y: auto;
}