docker/db/*
docker/._db
docker/logo/tmp/**
docker/logo/.htaccess

.cache/*
.config/*
.npm/*
**/node_modules

**/cypress/screenshots/*
**/cypress/videos/*
**/cypress/downloads

**/__pycache__

farmdata2/doc/

.DS_Store
.idea

.eslintignore