docker/db/*
docker/logo/tmp/**
docker/logo/.htaccess

.cache/*
.config/*
.npm/*

.theia/logs/*
.theia/workspace-storage/*
.theia/globalStorage/*
.theia/recentworkspace.json

farmdata2_modules/**/cypress/screenshots/*
farmdata2_modules/**/cypress/videos/*

**/__pycache__

.DS_Store
