version: '2.2'
services:
  express:
    image: farmdata2/api:fd2.2
    container_name: fd2_api
    ports:
      - 8080:80
    depends_on: 
      - db
    volumes:
      - '../farmdata2/farmdata2_api/src:/app/src'
    networks:
      - fd2_public  # Okay for dev, but need to remove for production!
      - fd2_private

  db:
    image: farmdata2/mariadb:fd2.1
    container_name: fd2_mariadb
    networks:
      - fd2_private
    volumes:
      - farmos_db:/var/lib/mysql  # use a docker volume here for performance.
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: farm
      MYSQL_DATABASE: farm
      MYSQL_USER: farm
      MYSQL_PASSWORD: farm

  farmos:
    depends_on:
      - db
    image: farmdata2/farmos:fd2.6
    container_name: fd2_farmdata2
    networks:
      - fd2_public
      - fd2_private
    volumes:
      - './farmOS/settings.php:/var/www/html/sites/default/settings.php:delegated'
      - './logo:/var/www/html/sites/default/files:delegated'
      - '../farmdata2/farmdata2_modules:/var/www/html/sites/all/modules/farmdata2_modules:delegated'
      - ./sampleDB:/sampleDB:delegated  # Needed for building the db!
    ports:
      - '80:80'

  phpmyadmin:
    depends_on:
      - db
    image: farmdata2/phpmyadmin:fd2.1
    container_name: fd2_phpmyadmin
    networks:
      - fd2_public
      - fd2_private
    environment:
      PMA_HOST: "db"
    ports:
      - 8181:80
    volumes:
      - /sessions
    links:
      - 'db'
    profiles:
      - phpmyadmin
  # Note: Separate profiles for unix vs windows systems
  #       Necessary to mount /var/run/docker.sock due to 
  #       absolute path syntax on windows.
  fd2dev-unix:
    image: farmdata2/dev:fd2.4
    container_name: fd2_dev
    init: true
    networks:
      - fd2_public
      - fd2_private
    volumes:
      - ..:/home/fd2dev/FarmData2
      - ../farmdata2:/home/fd2dev/fd2test/farmdata2
      - ../farmdata2/cypress:/home/fd2dev/fd2test/cypress
      - ../farmdata2/cypress/cypress.config.js:/home/fd2dev/fd2test/cypress.config.js
      - /var/run/docker.sock:/var/run/docker.sock
      - farmdev_home_fd2.4:/home/fd2dev  # preserve home dir on volume.
      - farmos_db:/home/fd2dev/FarmData2/docker/db  # use volume for performance.
      - ~/.fd2gids:/home/fd2dev/.fd2/gids  # mount GID information.
    ports:
      - 5901:5901
      - 6901:6901
    profiles:
      - macos
      - linux

  fd2dev-win:
    image: farmdata2/dev:fd2.4
    container_name: fd2_dev
    init: true
    networks:
      - fd2_public
      - fd2_private
    volumes:
      - ..:/home/fd2dev/FarmData2
      - ../farmdata2:/home/fd2dev/fd2test/farmdata2
      - ../farmdata2/cypress:/home/fd2dev/fd2test/cypress
      - ../farmdata2/cypress/cypress.config.js:/home/fd2dev/fd2test/cypress.config.js
      - //var/run/docker.sock:/var/run/docker.sock
      - farmdev_home_fd2.4:/home/fd2dev  # preserve home dir on volume.
      - farmos_db:/home/fd2dev/FarmData2/docker/db  # use volume for performance.
      - ~/.fd2gids:/home/fd2dev/.fd2/gids  # mount GID information.
    ports:
      - 5901:5901
      - 6901:6901
    profiles:
      - windows

volumes:
  farmdev_home_fd2.4:
  farmos_db:

networks:
  # This network is exposed to the outside.
  fd2_public:   
    name: farmdata2
  # This network is available only to containers defined here.
  fd2_private:  
    name: farmdata2_api
    internal: true
