version: '2.2'
services:
  db:
    image: farmdata2/mariadb:fd2.1
    container_name: fd2_mariadb
    networks:
      - fd2
    volumes:
      - farmos_db:/var/lib/mysql  # use a docker volume here for performance.
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: farm
      MYSQL_DATABASE: farm
      MYSQL_USER: farm
      MYSQL_PASSWORD: farm

  farmos:
    depends_on:
      - db
    image: farmdata2/farmos:fd2.6
    container_name: fd2_farmdata2
    networks:
      - fd2
    volumes:
      - './farmOS/settings.php:/var/www/html/sites/default/settings.php:delegated'
      - './logo:/var/www/html/sites/default/files:delegated'
      - '../contrib_modules:/var/www/html/sites/all/modules/contrib_modules:delegated'
      - '../farmdata2_modules:/var/www/html/sites/all/modules/farmdata2_modules:delegated'
      - ./sampleDB:/sampleDB:delegated  # Needed for building the db!
    ports:
      - '80:80'
    environment:
      XDEBUG_CONFIG: remote_host=172.17.0.1

  phpmyadmin:
    depends_on:
      - db
    image: farmdata2/phpmyadmin:fd2.1
    container_name: fd2_phpmyadmin
    networks:
      - fd2
    environment:
      PMA_HOST: "db"
    ports:
      - 8181:80
    volumes:
      - /sessions
    links:
      - 'db'

  # Note: Separate profiles for unix vs windows systems
  #       Necessary to mount /var/run/docker.sock
  fd2dev-unix:
    image: farmdata2/dev:fd2.1
    container_name: fd2_dev
    init: true
    networks:
      - fd2
    volumes:
      - ..:/home/fd2dev/FarmData2:delegated
      - ../farmdata2_modules:/home/fd2dev/fd2test/farmdata2_modules:delegated
      - ../farmdata2_modules/cypress:/home/fd2dev/fd2test/cypress:delegated
      - ../farmdata2_modules/cypress.config.js:/home/fd2dev/fd2test/cypress.config.js:delegated
      - /var/run/docker.sock:/var/run/docker.sock
      - farmdev_home_fd2.1:/home/fd2dev  # preserve home dir on volume.
      - farmos_db:/home/fd2dev/FarmData2/docker/db  # use volume for perrformance.
      - ~/.fd2:/.fd2  # mount GID information.
    ports:
      - 5901:5901
      - 6901:6901
    profiles:
      - macos
      - linux

  fd2dev-win:
    image: farmdata2/dev:fd2.1
    container_name: fd2_dev
    init: true
    networks:
      - fd2
    volumes:
      - ..:/home/fd2dev/FarmData2:delegated
      - ../farmdata2_modules:/home/fd2dev/fd2test/farmdata2_modules:delegated
      - ../farmdata2_modules/cypress:/home/fd2dev/fd2test/cypress:delegated
      - ../farmdata2_modules/cypress.config.js:/home/fd2dev/fd2test/cypress.config.js:delegated
      - //var/run/docker.sock:/var/run/docker.sock
      - farmdev_home_fd2.1:/home/fd2dev  # preserve home dir on volume.
      - farmos_db:/home/fd2dev/FarmData2/docker/db  # use volume for perrformance.
      - ~/.fd2:/.fd2  # mount GID information.
    ports:
      - 5901:5901
      - 6901:6901
    profiles:
      - windows


volumes:
  farmdev_home_fd2.1:
  farmos_db:

networks:
  fd2:
    name: farmdata2
