version: '2'
services:
  db:
    image: mariadb:latest
    container_name: fd2_mariadb
    volumes:
      - './db:/var/lib/mysql:delegated'
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: farm
      MYSQL_DATABASE: farm
      MYSQL_USER: farm
      MYSQL_PASSWORD: farm

  www:
    depends_on:
      - db
    image: farmos/farmos:dev
    container_name: fd2_farmdata2
    volumes:
      - './settings.php:/var/www/html/sites/default/settings.php:delegated'
      - './logo:/var/www/html/sites/default/files:cached'
      - '../contrib_modules:/var/www/html/sites/all/modules/contrib_modules:cached'
      - '../farmdata2_modules:/var/www/html/sites/all/modules/farmdata2_modules:cached'
    ports:
      - '80:80'
    environment:
      XDEBUG_CONFIG: remote_host=172.17.0.1


  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    container_name: fd2_phpmyadmin
    environment:
      PMA_HOST: "db"
    restart: always
    ports:
      - 8181:80
    volumes:
      - /sessions
    links:
     - 'db'

  theiaide:
    image: theiaide
    container_name: fd2_theia
    init: true
    build:
     context: ./theia
     dockerfile: Dockerfile
     args:
      HOST_UID: ${HOST_UID}
      HOST_GID: ${HOST_GID}
      HOST_USER: ${HOST_USER}
      HOST_GROUP: ${HOST_GROUP}
    container_name: theiaide
    user: ${HOST_USER}
    volumes: 
     - ..:/home/${HOST_USER}/FarmData2
    ports:
     - 3000:3000
